<!--<ng-container *ngIf="display$ | async as display">
    <section [class.open]="display === 'OPEN'"
                (click)="close()">
        <div (click)="$event.stopPropagation()">
            <button class="close"
                    type="button" 
                    (click)="close()">X</button>

            <h1>Hello World</h1>
        </div>
    </section>
</ng-container> -->
<div style="height: 100%; ">
    <div class="d-flex justify-content-end" style="
    background-image: url('assets/cloud-native-1.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    ">
        <button style="height: 50px; width: 50px"
            type="button" class="btn btn-light m-2 btn-circle">X</button>
    </div>
</div>
