
<div class="container p-5">
    <div class="row py-5">
        <div class="col-sm">
            <h1>Cloud native, c'est quoi?</h1>
        </div>
        <div class="col-sm">
            <h1>Réseau virtuel en tant que solution</h1>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-sm">
            <h1>Rendre votre cloud hybride avec un VPN</h1>
        </div>
        <div class="col-sm">
            <h1>Un cluster Kubernetes sécurisé</h1>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-sm text-center">
            <h1>Je réponds à vos questions</h1>
        </div>
    </div>
</div>