<swiper
  [slidesPerView]="1"
  [spaceBetween]="50"
  [centeredSlides]="true"
  [keyboard]="{enabled: true}"
  [virtual]="true"
  class="my-swiper"
>
  <ng-template swiperSlide>
    <div class="swiper-slide-container">
      <corp-cover></corp-cover>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="swiper-slide-container">
      <div class="banner-image"></div>
      <corp-contents></corp-contents>
    </div>
  </ng-template>
  <ng-template swiperSlide *ngFor="let slide of slides$ | async; index as i">
    <div class="swiper-slide-container">
      <div class="banner-image"></div>
    </div>
  </ng-template>
</swiper>
