@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

.my-swiper {
    height: calc(100% - 30px);
    margin-top: 12px;
    margin-bottom: 10px;
}

.swiper-slide-container {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // text-align: center;
  background: #fff;
  height: 100%;
  max-width: 1250px;
  margin: auto;
}

.banner-image {
  height: 100px;
  max-width: 100%;
  left: 0px;
  background-image: url("../../assets/ingeniance-banner.png");
  background-position: right;
}